<mat-expansion-panel [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Expenses
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="d-flex mb-n3">
    <div class="flex-fill">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Invoice number</mat-label>
        <input matInput [(ngModel)]="invNumber">
      </mat-form-field>
    </div>
    <div class="w-25">
    </div>
    <div class="flex-fill">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Invoice date</mat-label>
        <input matInput [(ngModel)]="invDate">
      </mat-form-field>
    </div>
  </div>

  <hr/>

  <div class="d-flex justify-content-between">
    <div class="flex-fill w-100">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Salutation</mat-label>
        <input matInput [(ngModel)]="salutation">
      </mat-form-field>
    </div>
    <div class="w-25">
    </div>
    <div class="flex-fill w-100">
    </div>
  </div>

  <mat-form-field class="w-100 " appearance="outline">
    <mat-label>Preamble</mat-label>
    <textarea matInput [(ngModel)]="preamble">
    </textarea>
  </mat-form-field>

  <app-expenses></app-expenses>

  <mat-form-field class="w-100 " appearance="outline">
    <mat-label>Closing</mat-label>
    <textarea matInput [(ngModel)]="closing">
    </textarea>
  </mat-form-field>

</mat-expansion-panel>
