<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Header
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="d-flex mb-n3">
    <div class="w-100"></div>
    <mat-form-field class="flex-fill w-100" appearance="outline">
      <mat-label>Your company name</mat-label>
      <input matInput [(ngModel)]="company">
    </mat-form-field>
  </div>

  <hr/>

  <div class="d-flex">

    <div class="flex-fill">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Recipient name</mat-label>
        <input matInput [(ngModel)]="recName">
      </mat-form-field>
      <br>
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Recipient company name</mat-label>
        <input matInput [(ngModel)]="recCompany">
      </mat-form-field>
      <br>
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Street and house number</mat-label>
        <input matInput [(ngModel)]="recStreet">
      </mat-form-field>
      <br>
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Post code and city</mat-label>
        <input matInput [(ngModel)]="recCity">
      </mat-form-field>
    </div>

    <div class="w-25"></div>

    <div class="flex-fill">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Your street and house number</mat-label>
        <input matInput [(ngModel)]="street">
      </mat-form-field>
      <br>
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Your post code and city</mat-label>
        <input matInput [(ngModel)]="city">
      </mat-form-field>
      <br>
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Your phone number</mat-label>
        <input matInput [(ngModel)]="phone">
      </mat-form-field>
      <br>
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Your email address</mat-label>
        <input matInput [(ngModel)]="email">
      </mat-form-field>
    </div>

  </div>

</mat-expansion-panel>
