<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Footer
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="d-flex justify-content-between">
    <div class="flex-fill">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Your tax id</mat-label>
        <input matInput [(ngModel)]="taxId">
      </mat-form-field>
      <br>
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Bank name</mat-label>
        <input matInput [(ngModel)]="bankName">
      </mat-form-field>
    </div>
    <div class="w-25">
    </div>
    <div class="flex-fill">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Bank IBAN</mat-label>
        <input matInput [(ngModel)]="iban">
      </mat-form-field>
      <br>
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Bank BIC</mat-label>
        <input matInput [(ngModel)]="bic">
      </mat-form-field>
    </div>
  </div>

</mat-expansion-panel>
